@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 6% 10%;

    --card: 0 0% 100%;
    --card-foreground: 240 6% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 10%;

    --primary: 218 80% 56%;
    --primary-foreground: 0 0% 100%;

    --secondary: 152 76% 44%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 5% 94%;
    --muted-foreground: 240 4% 45%;

    --accent: 222 47% 95%;
    --accent-foreground: 240 6% 10%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 240 6% 70%;

    --radius: 0.5rem;

    --sidebar-background: 240 6% 94%;
    --sidebar-foreground: 240 5% 20%;
    --sidebar-primary: 218 80% 56%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 5% 87%;
    --sidebar-accent-foreground: 240 5% 20%;
    --sidebar-border: 240 6% 80%;
    --sidebar-ring: 217 80% 56%;

    --highlight: 218 80% 56%;
    --success: 152 76% 44%;
    --info: 200 90% 57%;
    --warning: 36 100% 50%;
  }

  .dark {
    --background: 240 6% 10%;
    --foreground: 210 20% 98%;

    --card: 240 5% 15%;
    --card-foreground: 210 20% 98%;

    --popover: 240 6% 14%;
    --popover-foreground: 210 20% 98%;

    --primary: 218 80% 56%;
    --primary-foreground: 210 20% 98%;

    --secondary: 152 76% 44%;
    --secondary-foreground: 210 20% 98%;

    --muted: 240 5% 20%;
    --muted-foreground: 240 5% 65%;

    --accent: 222 47% 20%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 0 0% 16%;
    --input: 240 5% 18%;
    --ring: 215 20% 65%;

    --sidebar-background: 240 6% 8%;
    --sidebar-foreground: 240 5% 84%;
    --sidebar-primary: 218 80% 56%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 5% 16%;
    --sidebar-accent-foreground: 240 5% 84%;
    --sidebar-border: 240 6% 20%;
    --sidebar-ring: 217 80% 56%;

    --highlight: 218 80% 56%;
    --success: 152 76% 44%;
    --info: 200 90% 57%;
    --warning: 36 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
